<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets\GamesGaloreLogo.png" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In" routerLink='/router/home'>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">

      <div><a class="underlineHover" href="" routerLink='/register'>Register</a></div><br>
      <div><a class="underlineHover" href="" routerLink="register">Forgot Password?</a></div>
      
    </div>

  </div>
</div>