<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets\GamesGaloreLogo.png" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="register" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" name="register" placeholder="Password">
      <input type="text" id="confirm_password" class="fadeIn fourth" name="register" placeholder="Confirm Password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">

      <div><a class="underlineHover" href="" routerLink='/login'>Login</a></div><br>
      
      
    </div>

  </div>
</div>