<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets\GamesGaloreLogo.png" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]='account.accountUsername' id="login" class="fadeIn second" name="register" placeholder="Username">
      <div data-toggle="tooltip" data-placement="above" 
      title="{{rule1}}
      {{rule2}}
      {{rule3}}
      {{rule4}}"><input type="text" [(ngModel)]='account.accountPassword' id="password" class="fadeIn third" name="register" placeholder="Password"></div>
      <input type="text" [(ngModel)]='account.confirmPassword' id="confirm_password" class="fadeIn fourth" name="register" placeholder="Confirm Password">
      <input type="text" [(ngModel)]='account.accountUser.userFirstName' id="fName" class="fadeIn fifth" name = "register" placeholder="First Name">
      <input type="text" [(ngModel)]='account.accountUser.userLastName' id="lName" class="fadeIn sixth" name = "register" placeholder="Last Name">
      <input type="text" [(ngModel)]='account.accountUser.userEmail' id="email" class="fadeIn seventh" name = "register" placeholder="Email">
      <input type="submit" (click)="register()" class="fadeIn eigth" value="Register" routerLink='/router/home'>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">

      <div><a class="underlineHover" href="" routerLink='/login'>Login</a></div><br>
      
      
    </div>

  </div>
</div>