<div class="sidenav">
  <h2>Search</h2>
  <input type="text" style="width: 160px" id="searchInput" placeholder="Search for a Title">
  <br>
  <h3>Platform</h3>
  <ul id="platformList">
    <li *ngFor="let platform of platforms">
      <label><input type="checkbox" [id]="platform.platformName"> {{platform.platformName}}</label>
    </li>
  </ul>

  <br>

  <h3>Genre</h3>
  <ul>
    <li *ngFor="let genre of genres">
      <label><input type="checkbox" [id]="genre.genreName"> {{genre.genreName}}</label>
    </li>
  </ul>

  <button class="btn btn-success" (click)="getGames()">Search</button>
</div>

<div class="main">

  <div class='row' *ngFor="let gameRow of cardDisplayArray">
    <div class='col' *ngFor="let game of gameRow">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" [src]="game.cover.url" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{game.name}}</h4>
          </div>
          <div class="card-footer">
            <!--Modal Button-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
